---
import Layout from "../../layouts/Layout.astro";
---

<Layout
	title="MetaStock User Conference"
	description="A place to learn all about MetaStock.     Come get some now"
>
	<h1>MetaStock User Conference</h1>
</Layout>
