---
import Layout from "../../layouts/Layout.astro";
---

<Layout
	title="PowerTools"
	description="The features of MetaStock that make it great.     Come get some now"
>
	<h1>PowerTools</h1>
</Layout>
